Options -Indexes

ErrorDocument 404 /404

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [NC,L,QSA]

RewriteRule ^app/ - [R=404,L]
RewriteRule ^sef/ - [R=404,L]
